# .env.example
SECRET_KEY="SECRET_KEY_HERE"
DEBUG=True

DB_NAME=checkout_db
DB_USER=postgres
DB_PASSWORD=secret_password
DB_HOST=127.0.0.1
DB_PORT=5432

# Midtrans Configuration
MIDTRANS_IS_PRODUCTION=False
MIDTRANS_SERVER_KEY=MIDTRANS_SERVER_KEY_HERE
MIDTRANS_CLIENT_KEY=MIDTRANS_CLIENT_KEY_HERE